name: landing_page
description: Una landing page profesional en Flutter Web.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # Iconos por defecto
  cupertino_icons: ^1.0.2
  # AÑADE ESTA LÍNEA: Fuentes de Google
  google_fonts: ^6.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
